.card {
    transition: all ease .5s;
    width: 18vw;
    height: 40vh;
    border: 2px solid rgba(grey, .5);
    border-top-right-radius: 25%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    .itemImg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 65%;
        object-fit: cover;
    }
    .data {
        width: 80%;
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translate3d(-50%,0,0);
        h1 {
            font-family: 'Jost', sans-serif;
            font-size: 1.1rem;
            word-spacing: initial;
        }
        img {
            height: 40%;
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
    &:hover {
        -webkit-box-shadow: 0px 5px 15px 5px rgba(89,89,89,0.6); 
box-shadow: 0px 5px 15px 5px rgba(89,89,89,0.6);
    }
}