.wrapper {
    height: 80vh;
    overflow: hidden;
    .content {
        position: absolute;
        top: 50%;
        left: 70%;
        width: 25%;
        transform: translate3d(0, -50%, 0);
        p {
            margin-top: .5rem;
        }
        button {
            margin-top: 5vh;
        }
        h1 {
            font-family: 'Jost', sans-serif;
            font-size: 1.7rem;
        }
    }
    .cards {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate3d(0, -50%, 0);
        height: 45vh;
        width: 60%;
        white-space: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
    }
}