.wrapper {
    height: 125vh;
    img {
     width: 50%;
     height: 100%;   
     object-fit: cover;    
     position: absolute;
     top: 0;
    }
    .top, .bottom {
        width: 100%;
        height: 50%;
        position: relative;
    }
    .top {
        img {
            left: 0;
            border-top-right-radius: 150px;
        }
        .content {
            position: absolute;
            left: 60%;
            top: 50%;
            transform: translate3d(0, -50%, 0);        
        }
    }
    .bottom {
        img {
            right: 0;
            border-bottom-left-radius: 150px;

        }
        .content {
            position: absolute;
            right: 60%;
            top: 50%;
            transform: translate3d(0, -50%, 0); 
            text-align: right;
        }
    }

    .content {
        width: 20%;
        span {
            font-weight: 400;
        }
        h1, p {
            margin-top: .5rem;
        }
        button {
            margin-top: 2vw;
        }
    }
}